<html>
<!--scriptFragment 선언-->
<th:block th:fragment="scriptFragment">
	<!-- jQuery -->
	<script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/adminlte/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- SweetAlert2 -->
	<script th:src="@{/adminlte/plugins/sweetalert2/sweetalert2.min.js}"></script>
	<!-- Toastr -->
	<script th:src="@{/adminlte/plugins/toastr/toastr.min.js}"></script>
	<!-- jquery-validation -->
	<script th:src="@{/adminlte/plugins/jquery-validation/jquery.validate.min.js}"></script>
	<script th:src="@{/adminlte/plugins/jquery-validation/additional-methods.min.js}"></script>
	<script th:src="@{/adminlte/plugins/jquery-validation/localization/messages_ko.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/adminlte/plugins/select2/js/select2.full.min.js}"></script>
	<!-- Bootstrap Switch -->
	<script th:src="@{/adminlte/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
	<!-- InputMask -->
	<script th:src="@{/adminlte/plugins/moment/moment.min.js}"></script>
	<script th:src="@{/adminlte/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>
	<!-- date-range-picker -->
	<script th:src="@{/adminlte/plugins/daterangepicker/daterangepicker.js}"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script th:src="@{/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
	<!-- DataTables -->
	<script th:src="@{/adminlte/plugins/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
	<script th:src="@{/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
	<script th:src="@{/adminlte/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
	<script th:src="@{/adminlte/plugins/datatables-buttons/js/jszip.min.js}"></script>
	<script th:src="@{/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
	<!-- Overlay Scrollbar -->
	<script th:src="@{/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
	<!-- EasyUI Tabs -->
	<script th:src="@{/adminlte/plugins/jquery-easyui-1.9.6/jquery.easyui.min.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
</th:block>
</html>