<!DOCTYPE html>
<html layout:decorator="thymeleaf/layout/layout_blank">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">[(#{title.info})]</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="error-page">
			<div class="error-content">
				<h2 class="headline text-warning" th:text="${code}"> [(${code})]</h2>
				<h3><i class="fas fa-exclamation-triangle text-warning"></i> [(${msg})]</h3>
				<p>[(${timestamp})]</p>
			</div>
		</div>
	</div>
</body>
</html>