<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>ITO 서비스 포탈 : 메인</title>
    <link rel="stylesheet" media="screen" th:href="@{/css/IoTSP.css}">
</head>
<body>
	<div class="headerWrap">
        <div class="container">
            <ul class="Ulrow">
                <li class="Licolumn left plf35">
                    <img src="images/logoKyoBo.png" class="img">
                    <h1 class="HeaderH1 mlf25 fw600">ITO 서비스 포탈</h1>
                </li>
                <li class="Licolumn right prt35">
                    <img src="images/logoIBM.png" class="img">
                </li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="sectionWrap">
            <ul class="colContainer">
                <li class="col" style="background:#E7E7E7">
                    <ul class="colcenter">
                        <li class="colInContainer">
                            <ul class="colIn pt32">
                                <h2 class="SectionH2 txt1 fw600">모니터링</h2>
                            </ul>
                            <ul class="colIn">
                               	<li class="inCenter ">
	                                <a class="colBox hvr-icon-grow hvr-icon" href="http://checkmk.kyobo.com/kbl" target="_blank" onmouseover="image01.src='images/icon1_1.png';" onmouseout="image01.src='images/icon1.png';">
	                                    <ul>
	                                        <li class="colBoxHt">
	                                            <img src="images/icon1.png" id="image01" style="vertical-align: middle;" class="">
	                                            <p class="sectionP fw600">checkMK</p>
	                                        </li>
	                                    </ul>
		                            </a>
                               	</li>
                            </ul>
                            <ul class="colIn pbt32">
                                <li class="inCenter">
                                    <a class="colBox hvr-icon-grow hvr-icon" href="http://checkmk.kyobo.com:3000" target="_blank" onmouseover="image02.src='images/icon2_1.png';" onmouseout="image02.src='images/icon2.png';">
	                                    <ul>
	                                        <li class="colBoxHt">
	                                            <img src="images/icon2.png" id="image02" style="vertical-align: middle;" class="">
	                                            <p class="sectionP fw600">Grafana</p>
	                                        </li>
	                                    </ul>
	                                </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="col" style="background:#F0F0F0">
                    <div class="colcenter">
                        <div class="colInContainer">
                            <div class="colIn pt32">
                                <h2 class="SectionH2 txt1 fw600">과금관리</h2>
                            </div>
                            <div class="colIn">
                                <div class="inCenter">
                                	<a class="colBox hvr-icon-grow hvr-icon" href="http://10.33.5.250:5601/" target="_blank" onmouseover="image03.src='images/icon3_1.png';" onmouseout="image03.src='images/icon3.png';">
                                        <div class="colBoxHt">
                                            <img src="images/icon3.png" id="image03" style="vertical-align: middle;" class="">
                                            <p class="sectionP fw600">kibana</p>
                                        </div>
	                                </a>
                                   </div>
                            </div>
                            <div class="colIn pbt32">
                                <div class="inCenter">
                                	<a class="colBox hvr-icon-grow hvr-icon" th:href="@{/main}"  onmouseover="image04.src='images/icon4_1.png';" onmouseout="image04.src='images/icon4.png';">
                                        <div class="colBoxHt">
                                            <img src="images/icon4.png" id="image04" style="vertical-align: middle;" class="">
                                            <p class="sectionP fw600">과금 데이터 관리</p>
                                        </div>
	                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="col" style="background:#E7E7E7">
                    <ul class="colcenter">
                        <li class="colInContainer">
                            <ul class="colIn pt32">
                                <h2 class=" SectionH2 txt1 fw600">서비스 변경 장애 관리</h2>
                            </ul>
                            <ul class="colIn">
                               	<li class="inCenter">
                                	<a class="colBox hvr-icon-grow hvr-icon" th:href="@{/main?menu_id=sr}" onmouseover="image05.src='images/icon5_1.png';" onmouseout="image05.src='images/icon5.png';">
	                                    <ul>
	                                        <li class="colBoxHt">
	                                            <img src="images/icon5.png" id="image05" style="vertical-align: middle;" class="">
	                                            <p class="sectionP fw600">서비스요청(RFS)</p>
	                                        </li>
	                                    </ul>
	                                </a>
                                </li>
                            </ul>
                            <ul class="colIn pbt32">
                                <li class="inCenter">
                                	<a class="colBox hvr-icon-grow hvr-icon" href="http://tito.kyobo.com:9080/maximo/" target="_blank" onmouseover="image06.src='images/icon6_1.png';" onmouseout="image06.src='images/icon6.png';">
	                                    <ul>
	                                        <li class="colBoxHt">
	                                            <img src="images/icon6.png" id="image06" style="vertical-align: middle;" class="">
	                                            <p class="sectionP fw600">maximo</p>
	                                        </li>
	                                    </ul>
	                                </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>